.body{
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
   font-weight: 700;
}


.header{
background-color:rgba(238, 238, 238);
}
a {
  text-decoration: none;
}
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  list-style: none;
  text-transform: uppercase;
}
.main-navigation a:hover,
.main-navigation a:focus,
 {
  background-color: red;
}
.slide1 b,
.slide2 b,
.slide3 b{
font-size: 55px;
  line-height: 55px;
  }
  .learn more{
width:240px;
height:50px;
background-color:
}
.services {
  list-style: none;
  background-image:url(img/illustration-1.png),
  url(img/illustration-2.png),
 url(img/illustration-3.png);
 background-repeat:no-repeat
}
.service-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.services2. b{
font-size: 16px;
  line-height: 30px;
}
.footer b{
font-size: 18px;
  line-height: 30px;
}
.footer{
font-size: 16px;
  line-height: 18px;
}
.footer-social b{
font-size: 36px;
  line-height: 36px;
}